*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F3ED;
    font-family: Arial, sans-serif;

}

.background-nav{
    z-index: 1;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    background: #57290B;
}

.nav-bar {
    width: 100%;
}

.nav-itens {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-text{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #F0F0F0;
    white-space: nowrap;
    margin-left: 10px
}

.btn-SobreNos{
    display: flex;
    height: 27px;
    text-decoration: none;
    cursor: pointer;
}

.detalhe1{
    width: 43px;
    height: 2px;
    background: #B2784A;
    border-radius: 3px;
    margin-top: 27px;
    margin-left: -60px;
}

.btn-Cafeteria{
    display: flex;
    height: 27px;
    margin-left: 125px;
    text-decoration: none;
    cursor: pointer;
}

.detalhe2{
    width: 43px;
    height: 2px;
    background: #B2784A;
    border-radius: 3px;
    margin-top: 27px;
    margin-left: -57px;
}

.logo {
    width: 150px;
    height: 85px;
    margin-left: 290px;
}

.text-logo{
    height: 22px;
    margin-top: 10px;
    white-space: nowrap;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #F0F0F0;
}

.logo-space{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-Contato{
    display: flex;
    height: 27px;
    margin-left: 190px;
    text-decoration: none;
    cursor: pointer;
}

.detalhe3{
    width: 43px;
    height: 2px;
    background: #B2784A;
    border-radius: 3px;
    margin-top: 27px;
    margin-left: -52px;
}


.btn-Phone{
    display: flex;
    align-items: center;
    height: 25.86px;
    margin-left: 108px;
}


.background-header{
    display: flex;
    background-image: url(img/BackGround.svg);
    width: 100%;
    height: 559px;
    background-repeat: no-repeat;
    background-size: cover;
}

#espaco{
    padding-top: 100px;
}

.titulo{
    display: flex;
    width: 589px;
    height: 228px;
    margin-top: 63px;
    margin-left: 119px;
    
    
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 76px;
    color: #F0F0F0;
}

.sub-titulo{
    width: 514px;
    height: 66px;
    margin-top: 16px;
    margin-left: 119px;
    
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #F0F0F0;
}

.btn-cafeteria-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    gap: 27px;
    margin-left: 119px;
    margin-top: 41px;
    
    width: 283px;
    height: 57px;
    left: 120px;
    top: 514px;
    background: #8F542E;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#text-venha-conhecer{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 57px;
    letter-spacing: 0.03em;
    color: #F0F0F0;
    white-space: nowrap;
}

.box-sobre-nos{
    display: flex;
    width: 100%;
    height: 396.41px;
    justify-content: center;
}

.espacamento-sobre-nos{
    margin-top: 57px;
    display: flex;
}

.retangulo{
    width: 255px;
    height: 28px;
    margin-top: 27px;
    margin-left: 0px;
    background: #FBC9A8;
}

#sobre-nos{
    width: 222px;
    height: 56px;
    margin-top: -55px;
    margin-left: 8px;
    white-space: nowrap;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700px;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #1F0C00;
}

.texto-princ1{
    width: 589px;
    height: 96px;
    margin-top: 39px;
    margin-left: 16px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    
    color: #1F0C00;
}

.texto-princ2{
    width: 589px;
    height: 72px;
    margin-top: 16px;
    margin-left: 16px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    
    color: #1F0C00;
}

.xicara{
    margin-left: 50px;
}

.btn-sobre-nos-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    gap: 27px;
    margin-top: 48px;
    margin-left: 0px;
    width: 283px;
    height: 57px;
    background: #8F542E;
    border-radius: 8px;
    border: none;
    cursor: pointer;    
}

#text-sobre-nos{    
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 800;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.03em;
    color: #F0F0F0;
}

#vetor-onda {
    background-image: url(img/Cafe\ onda.svg);
    width: 100%;
    height: 260px;
    margin-top: -135px;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-cafeteria{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 745px;
    margin-top: 312.18px;
    align-items: center;
    background-color: #80451F;
}

#texto-cafeteria{
    height: 48px;
    margin-top: 64.92px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: #F0F0F0;
}

.detalhe-caf{
    width: 160px;
    height: 0px;
    border: 2px solid #B2784A;
    border-radius: 10px;
    margin-bottom: 36px;
}

.scroll-imagens{
    position: relative;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    padding-left: 120px;
}

.quadrado{
    position: relative;
    display: inline-block;
    width: 345px;
    height: 400px;
    padding: 16px;
    margin-right: 10px;
    background: #F0F0F0;
    border-radius: 8px;
}

.img{
    width: 100%;
}

.titulo-scroll{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-transform: capitalize;
    margin-top: 8px;
    
    color: #1F0C00;
}

.texto-scroll{
    white-space: normal;
    margin-top: 4px;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #1F0C00;
}

#entrar-em-contato{
    
    text-transform: uppercase;
    width: 406px;
    height: 48px;
    margin-top: -25px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #1F0C00;
    
}

.box-entrar-em-contato{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 828px;
    margin-top: 128px;
    margin-bottom: 128px;
}

.retangulo2{
    
    width: 438px;
    height: 28px;
    margin-left: 120px;
    margin-bottom: 64px;
    background: #FBC9A8;
    
}

.retangulo3{
    
    width: 510px;
    height: 711px;
    background: #8F542E;
    box-shadow: -4px 7px 29px 6px #1F0C0033;
    border-radius: 8px 0px 0px 8px;
}

.box{
    display: flex;
    justify-content: center;
}

.icon-style{
    flex-direction: row;
    align-items: flex-start;
    list-style: none;
    flex-wrap: wrap;
}

#icon-position-first{
    display: flex;
    align-items: center;
    width: 47px;
    height: 47px;
    margin-top: 33px;
    margin-left: 30px;
}

.icon-position{
    position: relative;
    display: flex;
    align-items: center;
    width: 47px;
    height: 47px;
    left: 30px;
    top: 33px;
}

.text-icons{
    width: 120px;
    height: 25px;
    white-space: nowrap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    
    color: #F0F0F0;
}

.line{
    width: 348px;
    height: 3px;
    margin-left: 36px;
    margin-top: 56px;
    margin-bottom: -14px;
    background: #B2784A;
    border-radius: 3px;
}

.logo-branca{   
    width: 127px;
    height: 162.03px;
    margin-top: 103px;
    margin-left: 162px;
}

.text-logo-branca{
    margin-left: 101px;
    white-space: nowrap;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400px;
    font-size: 32px;
    line-height: 39px;
    color: #F0F0F0;
    margin-bottom: 40px;
}   

.retangulo4{
    display: flex;
    width: 690px;
    height: 711px;
    background: #F5F3ED;
    border-radius: 0px 8px 8px 0px;
    box-shadow: -4px 7px 29px 6px #1F0C0033;
}


input, button {
    margin-left: 20px;
    color: #000000;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    width: 609px;
    height: 104px;
    margin-top: 43px;
    margin-bottom: 32px;
}

.campo label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #1F0C00;  
    margin-left: 41px;
}

.campo input[type="text"]{
    width: 609px;
    height: 70px;
    background: #F5F5F5;
    border: 1px solid #8F542E;
    border-radius: 8px;
    margin-left: 41px;
}

.campo2 {
    width: 609px;
    height: 104px;
    margin-top: 43px;
    margin-bottom: 32px;
}

.campo2 label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #1F0C00;  
    margin-left: 41px;
}

.campo2 input[type="email"]{
    width: 609px;
    height: 70px;
    background: #F5F5F5;
    border: 1px solid #8F542E;
    border-radius: 8px;
    margin-left: 41px;
}

.campo3 {
    width: 609px;
    height: 254px;
    word-wrap: break-word;
}

.campo3 label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #1F0C00;  
    margin-left: 41px;
}

.campo3 input[type="text"]{
    width: 609px;
    height: 220px;
    background: #F5F5F5;
    border: 1px solid #8F542E;
    border-radius: 8px;
    margin-left: 41px;
}

.btn-form{
    background: #8F542E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    gap: 20px;
    margin-top: 42px;
    margin-left: 42px;
    
    width: 282px;
    height: 57px;
    
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-form:hover{
    background: #B2784A;
}

#text-button-form{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 57px;
    letter-spacing: 0.03em;
    color: #F0F0F0;
    white-space: nowrap;
}

.box-nos-encontre-aqui{
    display: none;
}

#text-nos-encontre{
    display: none;
}

.box-icons{
    display: none;
}

.icons-encontre-aqui{
    display: none;
}


footer{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 75px;
    background: #57290B;
}

.box-text{
    display: flex;
    width: 100%;
    height: 15.87px;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
}

.texto-footer{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFDAB8;
}

@media (max-width: 1260px){
    .btn-Contato{
        margin-left: 95px;
    }
    .logo {
        margin-left: 145px;
    }
    .xicara img{
        width: 240px;
        height: 240px;
    }
    .retangulo3{
        width: 410px;
    }
    .retangulo4{
        width: 590px;
    }
    .campo input[type="text"], .campo input[type="email"]{
        width: 509px;
    }
    .campo2 input[type="text"]{
        width: 509px;
    }
}

@media (max-width: 1020px){
    .btn-Contato{
        margin-left: 45px;
    }
    .logo {
        margin-left: 95px;
    }
    .xicara img{
        width: 220px;
        height: 220px;
    }
    .texto-princ1{
        width: 489px;
        font-size: 16px;
    }
    .texto-princ2{
        width: 489px;
        font-size: 16px;
    }
    .retangulo3{
        width: 260px;
    }
    .retangulo4{
        width: 440px;
    }
    .campo input[type="text"], .campo input[type="email"]{
        width: 359px;
    }
    .campo2 input[type="text"]{
        width: 359px;
    }
}

@media (max-width: 860px){

}
@media (max-width: 480px) {
    .background-nav {
        max-width: 100%;
        height: 64px;
        position: relative;    
    }

    .nav-bar {
        height: 64px;
    }

    .nav-itens{
        justify-content: left;
    }

    .logo-space{
        width: 25px;
        height: 31.9px;
    }

    .logo {
        margin-left: 45px;
        margin-top: 16px;
        margin-bottom: 16.1;
    }

    .text-logo{
        display: flex;
        height: 22px;
        line-height: 21.8px;
        margin-left: 79px;
        margin-top: -25px;

    }

    .btn-SobreNos {
        display: none; 
    }

    .btn-Cafeteria {
        display: none;
    }

    .btn-Contato {
        display: none;
    }

    .btn-Phone {
        display: none;
    }

    .detalhe1 {
        display: none;
    }

    .detalhe2 {
        display: none;
    }

    .detalhe3 {
        display: none;
    }

    #espaco{
        display: none;
    }

    .background-header {
        width: 100%;
        height: 241.34px;

    }

    .titulo {
        width: 342px;
        height: 96px;
        margin-top: 32px;
        margin-left: 24px;

        font-size: 28px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0.01em;
        text-align: left;

    }
    
    .btn-cafeteria-header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 24px;
        gap: 8px;
        margin-top: 32px;
        margin-left: 24px;
        
        width: 217px;
        height: 44px;
        background: #8F542E;
        border-radius: 8px;
        border: none;
        cursor: pointer;

    }

    #text-venha-conhecer{
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #F0F0F0;
        white-space: nowrap;

    }

    .sub-titulo {
        display: none;
    }

    .espacamento-sobre-nos{
        margin-top: 0px;
    }

    .box-sobre-nos {
        width: 100%;
        height: 490px;
        margin-left: -46px;
        margin-top: 32.66px; 
    }

    .retangulo{

        width: 159px;
        height: 21px;
        margin-top: 21px;
        margin-left: 0px;

    }

    #sobre-nos{
        
        width: 133px;
        height: 42px;
        margin-top: -41px;
        margin-left: 10px;
        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-size: 24px;
        line-height: 42px;

    }

    .texto-princ1{
        width: 339px;
        height: 182px;
        font-size: 18px;
        margin-top: 32px;
        margin-left: 0px;
        letter-spacing: 0.02em;
        line-height: 27px;

    }

    .texto-princ2{
        
        width: 339px;
        height: 182px;
        font-size: 18px;
        margin-top: 20px;
        margin-left: 0px;
        letter-spacing: 0.02em;
        line-height: 27px;

    }
    
    .xicara {
        display: none;
    }

    .btn-sobre-nos-main{
    
        padding: 10px 24px;
        gap: 8px;
        margin-top: -11px;
        margin-left: 72.5px;
        margin-bottom: 64.05px;
        width: 194px;
        height: 44px;
        align-items: center;
    }
    
    #text-sobre-nos{    
        font-family: 'Mulish';
        font-style: normal;
        white-space: nowrap;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.02em;

    }
   
    #vetor-onda {
        background-image: url(img/onda\ responsiva.svg);
        height: 135px;
        margin-top: -54.95px;
    }

    .background-cafeteria{
        height: 534px;
        margin-top: 119px;
    }

    #texto-cafeteria{
        height: 42px;
        margin-top: 39px;
        margin-left: -70px;
        font-size: 24px;
        line-height: 42px;
        letter-spacing: 0.02em;
    }

    .detalhe-caf{
        margin-bottom: 48px;
        width: 160px;
        margin-left: -70px;
    }
    
    .scroll-imagens {
        padding-left: 24px;
    }

    .quadrado{
        position: relative;
        display: inline-block;
        width: 217px;
        height: 253px;
        padding: 16px;
        margin-right: 10px;

    }

    .titulo-scroll{

        width: 197px;
        height: 27px;
        line-height: 27px;
        letter-spacing: 0.02em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    
    }

    .line {
        display: none;
    }

    .retangulo3 {
        display: none;
    }

    .icon-style {
        display: none;
    }
    
    .texto-scroll{
        white-space: nowrap;
        height: 18px;
        margin-top: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: #1F0C00;
    }
    
    .box-entrar-em-contato{
        height: 616px;
        margin-top: 64px;
        margin-bottom: 48px;
        
    }
    
    .box{
        justify-content: left;
    }

    .retangulo2{
        width: 274px;
        height: 21px;
        margin-left: 24px;     
        margin-top: 11px;   
        margin-bottom: 32px;
    }

    #entrar-em-contato {
        margin-top: -20px;
        height: 42px;  
        font-size: 24px;
        line-height: 42px;
        letter-spacing: 0.02em;
    }
    
    .retangulo3{
        display: none;
    }
    
    .retangulo4 {
        width: 341px;
        height: 542px;
        margin-left: 24px;
        margin-right: 25px;
        border-radius: 8px 8px 8px 8px;
    }
    
    .campo {
        width: 293px;
        height: 86px;
        margin-top: 33px;
        margin-bottom: 0px;
    }

    .campo label {
        font-size: 20px;
        margin-left: 24px;
    }
    
    .campo input[type="text"]{
        width: 293px;
        height: 48px;
        margin-left: 24px;
    }
    
    .campo2 {
        width: 293px;
        height: 86px;
        margin-top: 16px;
        margin-bottom: 0px;
    }
    
    .campo2 label {
        font-size: 20px;
        margin-left: 24px;
    }
    
    .campo2 input[type="email"]{
        width: 293px;
        height: 48px;
        margin-left: 24px;
    }

    .campo3 {
        width: 293px;
        height: 198px;
        margin-top: 16px;
        word-wrap: break-word;
    }
    
    .campo3 label {

        font-size: 20px;
        letter-spacing: 0.02em;
        margin-left: 24px;
    }
    
    .campo3 input[type="text"]{
        width: 293px;
        height: 160px;
        margin-left: 24px;
    }
    
    .btn-form{
        padding: 10px 24px;
        gap: 8px;
        width: 224px;
        height: 44px;
        margin-top: 32px;
        margin-left: 23.5px;
    }

    #text-button-form{

        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.02em;

    }

    .box-nos-encontre-aqui{
        display: flex;
        width: 242px;
        height: 128px;
        margin-top: 48px;
        margin-left: 74px;
        margin-bottom: 64px;
        flex-direction: column;
    }
    
    .text-nos-encontre{
        display: flex;
        white-space: nowrap;
        width: 177px;
        height: 42px;
        margin-left: 32px;
        margin-top: 0px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 42px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #1F0C00;
    }
    
    .box-icons{
        display: flex;
        list-style-type: none;
        width: 242px;
        height: 70px;
        margin-top: 16px;
        justify-content: space-between;
        align-items: center;
    }
    
    footer{
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    
    .box-text{
        width: 100%;
        height: 35.73px;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-left: 24px;
        padding-right: 111px;
    }
    
    .texto-footer{
        font-size: 18px;
        line-height: 24px;
    }

}

@media (max-width: 391px) {


    #entrar-em-contato {
        width: 244px;
        margin-top: -20px;
        height: 42px;  
        font-size: 24px;
        line-height: 42px;
        letter-spacing: 0.02em;
    }
 

    #texto-cafeteria{
        margin-left: 10px;
    }

    .detalhe-caf{
        margin-left: 10px;
    }

    .box-sobre-nos {
        width: 340px;
        height: 490px;
        margin-left: 24px;
        margin-top: 32.66px; 
    }
    
}


