*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F3ED;
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 6px;
}

.background-nav{
    position: absolute;
    width: 1440px;
    height: 100px;
    top: 0px;
    background: #57290B;
}

nav{
    display: flex;
    justify-content: space-between;
}

.nav-itens {
    list-style: none;
    display: flex;
}

.logo {
    position: absolute;
    width: 138px;
    height: 85px;
    left: 651px;
    top: 7px;
}

.detalhe1{
    position: absolute;
    width: 43px;
    height: 2px;
    left: 130px;
    top: 64px;
    
    background: #B2784A;
    border-radius: 1px;    
}

.btn-Cafeteria{
    position: absolute;
    width: 66px;
    height: 27px;
    left: 324px;
    top: 39px;
    cursor: pointer;

    /* TEXTO */
    position: absolute;
    width: 60px;
    height: 22px;
    left: 324px;
    top: 40px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #F0F0F0;
}

.btn-Contato{
    position: absolute;
    width: 60px;
    height: 27px;
    left: 1055px;
    top: 39px;
    cursor: pointer;

    /* TEXTO */
    position: absolute;
    width: 60px;
    height: 22px;
    left: 1055px;
    top: 40px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #F0F0F0;
}


.btn-SobreNos{
    position: absolute;
    width: 71px;
    height: 27px;
    left: 119px;
    top: 39px;
    cursor: pointer;

    /* TEXTO */
    position: absolute;
    width: 71px;
    height: 22px;
    left: 119px;
    top: 40px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #F0F0F0;
}

.btn-Phone{
    position: absolute;
    width: 118px;
    height: 25.86px;
    left: 1202px;
    top: 40px;
    cursor: default;
    margin-left: 10px;
}

#btn-text{
 
    position: absolute;
    width: 90px;
    height: 22px;
    top: 40px;
    left: 1220px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #F0F0F0;

}

.icon-call{ 
    position: absolute;
    width: 20px;
    height: 22.86px;
    left: 1202px;
    top: 43px;
}


.background-header{
    position: absolute;
    width: 1440px;
    height: 559px;
    top: 99px;
}

.titulo{
    position: absolute;
    width: 589px;
    height: 228px;
    left: 119px;
    top: 163px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 76px;

    color: #F0F0F0;
}

.sub-titulo{
    position: absolute;
    width: 514px;
    height: 66px;
    left: 119px;
    top: 407px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #F0F0F0;
}

.btn-cafeteria-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    gap: 27px;
    position: absolute;
    width: 283px;
    height: 57px;
    left: 120px;
    top: 514px;
    background: #8F542E;
    border-radius: 8px;
    cursor: pointer;
}

#text-venha-conhecer{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 57px;
    letter-spacing: 0.03em;
    color: #F0F0F0;
}

.secao2{
    position: relative;
    display: flex;
    top: 657px;
    background-color: #F5F3ED;
}

.retangulo{
    position: relative;
    width: 255px;
    height: 28px;
    left: 104px;
    top: 742px;
    background: #FBC9A8;
}

.sobre-nos{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 120px;
    margin-right: 731px;
    margin-top: 57px;
    white-space: nowrap;

    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #1F0C00;
}

.texto-princ1{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    width: 589px;
    height: 96px;
    left: 120px;
    margin-top: 39px;
    margin-bottom: 429px;
    /*padding-top: 810px;*/
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    color: #1F0C00;
}

.texto-princ2{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    width: 589px;
    height: 72px;
    margin-left: 120px;
    margin-top: 151px;
    margin-bottom: 341px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    
    color: #1F0C00;
}

.xicara{
    position: absolute;
    width: 352px;
    height: 340.41px;
    margin-left: 912px;
    margin-top: 113px;
    z-index: 1;
}


.vetor-onda {
    position: absolute;
    width: 1440px;
    height: 199.08px;
    top: 1200px;
    clip-path: url(#ondinha);
}

.btn-main-1{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    gap: 27px;
    position: absolute;
    width: 282px;
    height: 57px;
    left: 120px;
    top: 1042px;
    background: #8F542E;
    border-radius: 8px;
}

#text-sobre-nos{    
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 800;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.03em;
    color: #F0F0F0;
}
.background-cafeteria{
    position: absolute;
    width: 1440px;
    height: 745px;
    top: 1335px;
    background-color: #80451F;
}

.texto-cafeteria{
    position: absolute;
    width: 224px;
    height: 48px;
    left: 608px;
    top: 1464px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #F0F0F0;
}

.detalhe-caf{
    position: absolute;
    width: 160px;
    height: 0px;
    left: 638px;
    top: 1468px;
    border: 3px;
    color: #B2784A;
}

.entrar-em-contato{

    position: absolute;
    text-transform: uppercase;
    width: 406px;
    height: 48px;
    left: 136px;
    top: 2208px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #1F0C00;

}

.retangulo2{
    position: absolute;
    width: 438px;
    height: 28px;
    left: 120px;
    top: 2233px;
    background: #FBC9A8;

}

.retangulo3{

    position: absolute;
    width: 1200px;
    height: 711px;
    left: 138px;
    top: 2325px;

    background: #8F542E;
    border-radius: 8px;

}

.icon-style{
    flex-direction: row;
    align-items: flex-start;
    list-style: none;
    flex-wrap: wrap;
}

.icon-position{
    position: relative;
    display: flex;
    align-items: center;
    width: 47px;
    height: 47px;
    top: 40px;
    left: 40px;
}

.text-icons{

    width: 120px;
    height: 25px;
    white-space: nowrap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #F0F0F0;

}

.line{
    position: absolute;
    width: 348px;
    height: 3px;
    left: 74px;
    top: 230px;
    
    background: #B2784A;
    border-radius: 3px;
}

.logo-branca{   

    position: relative;
    width: 127px;
    height: 162.03px;
    left: 300px;
    top: 2600px;

}

.text-logo-branca{
    
    position: relative;
    left: -60px;
    white-space: nowrap;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400px;
    font-size: 32px;
    line-height: 39px;
    color: #F0F0F0;
}   

.retangulo4{

    position: absolute;
    width: 690px;
    height: 711px;
    left: 648px;
    top: 2325px;

    background: #ebdacc;
    border-radius: 0px 8px 8px 0px;

}

footer{

    position: relative;
    width: 1440px;
    height: 75px;
    top: 3164px;
    background: #57290B;

}

.text-footer{ 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1200px;
    height: 15.87px;
    left: 250px;
    top: 3194px;
}

.texto-footer{

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 48px;
    color: #FFDAB8;
}
